<br>
<div class="container">
  <div class="title">
    <h3>Resumen de Liquidación | Agrupado por Legajo</h3>
    <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#demo">Filtros</button>
  </div>
  <br>
  <div class="collapse navbar-collapse flex-grow-0" id="demo">
    <div class="group">
      <!-- <div class="convenio-group">
        <input type="checkbox" name="convenio" id="convenio" (change)="checkConvenio($event)"> Convenio
        <select class="form-control" [disabled]="!select_convenio" required [(ngModel)]="nombre_convenio"
          name="nombre_convenio" (change)="convenioSeleccionado($event)" #input>
          <option value="undefined" disabled selected>Seleccione...</option>
          <option *ngFor="let convenio of lista_convenio" [value]="convenio.convenio">{{convenio.convenio}}</option>
        </select>
      </div> -->
      <div class="convenio-group">
        <mat-form-field>
          <mat-label>Convenio</mat-label>
          <mat-select [(ngModel)]="nombre_convenio" name="nombre_convenio" (selectionChange)="convenioSeleccionado($event)" [(value)]="nombre_convenio">
            <mat-option>Seleccione...</mat-option>
            <mat-option *ngFor="let convenio of lista_convenio" [value]="convenio.convenio">
              {{convenio.convenio}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="egreso-group">
        <mat-form-field>
          <mat-label>Egreso</mat-label>
          <mat-select [(ngModel)]="fecha_egreso" name="fecha_egreso" (selectionChange)="convenioSeleccionado($event)" [(value)]="fecha_egreso">
            <mat-option>Seleccione...</mat-option>
            <mat-option *ngFor="let egreso of lista_egreso" [value]="egreso.Egreso">
              {{egreso.Egreso}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="osoccodigo-group">
        <mat-form-field>
          <mat-label>O Soc Codigo</mat-label>
          <mat-select [(ngModel)]="oSocCodigo" name="oSocCodigo" (selectionChange)="convenioSeleccionado($event)" [(value)]="oSocCodigo">
            <mat-option>Seleccione...</mat-option>
            <mat-option *ngFor="let codigo of lista_osocodigo" [value]="codigo.O_Soc_Codigo">
              {{codigo.O_Soc_Codigo}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="categoria-group">
        <mat-form-field>
          <mat-label>Categoría</mat-label>
          <mat-select [(ngModel)]="nombre_categoria" name="nombre_categoria" (selectionChange)="convenioSeleccionado($event)" [(value)]="nombre_categoria">
            <mat-option >Seleccione...</mat-option>
            <mat-option *ngFor="let categoria of lista_categoria" [value]="categoria.Categoria">
              {{categoria.Categoria}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="cliente-group">
        <mat-form-field>
          <mat-label>Cliente</mat-label>
          <mat-select [(ngModel)]="nombre_cliente" name="nombre_cliente" (selectionChange)="convenioSeleccionado($event)" [(value)]="nombre_cliente">
            <mat-option >Seleccione...</mat-option>
            <mat-option *ngFor="let cliente of lista_cliente" [value]="cliente.Cliente">
              {{cliente.Cliente}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="laboral-group">
        <mat-form-field>
          <mat-label>Laboral Provincia</mat-label>
          <mat-select [(ngModel)]="nombre_labprovincia" name="nombre_labprovincia" (selectionChange)="convenioSeleccionado($event)" [(value)]="nombre_labprovincia">
            <mat-option >Seleccione...</mat-option>
            <mat-option *ngFor="let laboral of lista_labprovincia" [value]="laboral.LaboralProvincia">
              {{laboral.LaboralProvincia}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
  <br>

  <mat-form-field>
    <mat-label>Búsqueda</mat-label>
    <input matInput (keyup)="filterData($event)" placeholder="Ingrese aquí..." #input autocomplete="off">
  </mat-form-field>

  <div class="mat-elevation-z8" tabindex="0">
    <table mat-table [dataSource]="dataSource" matSort [hidden]="!nomina_actual.length">

      <ng-container matColumnDef="{{column.name}}" *ngFor="let column of columns">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="">{{column.titulo}}</th>
        <td mat-cell *matCellDef="let element">{{element[column.name]}}</td>
        <td mat-footer-cell *matFooterCellDef>Total</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No hay datos que coincida con la busqueda {{input.value}}</td>
      </tr>
    </table>
  </div>
  <mat-paginator class="mat-paginator" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons
    aria-label="Select page of periodic elements">
  </mat-paginator>
  <br>
  <h6>Exportar:</h6>
  <div class="button">
    <button class="btn btn-success" (click)="xlsxExport()">Excel</button>
    <button class="btn btn-info ml-2">CSV</button>
  </div>
</div>